.weather-forecast {
    margin-top: 10px;
  }
  
  .weather-forecast h3 {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    height: 15px;
    line-height: 15px;
    padding-top: 7px;
  }
  
  .weather-forecast img {
    display: block;
    margin: 0 auto;
    height: 48px;
    width: 48px;
  }
  
  .weather-forecast-temp {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    height: auto;
    line-height: 15px;
    white-space: nowrap;
  }